html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header h1{
    text-align: center;
    color:chocolate;
}
.topnav h3{
    color: black;
}
.topnav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    margin-top: -25px;
}
.topnav a{
    color: black;
}
.topnav a:hover {
    color:brown;
}
#rectangle_button{
    background-color:coral;
    width: 140px;
    height: 40px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rectangle_button p{
    color:  white;
}
a{
    text-decoration: none;
}
.tabs{
    margin-top: 20px; 
}
.tabs a{
    color: black;
}
.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 150px;
    margin-right: 0px;
    text-align: center;
    background: rgb(194, 124, 34);
    padding: 5px;
    }
.tabs a span.active {
    background: rgb(255, 117, 4);
}
#pricelist h2{
    color: chocolate;
    margin-left: 20px;
}
#pricelist1{
    border-top: 1px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#pricelist h1{
    margin-right: 200px;
    color:chocolate;
}
#pricelist2{
    border-top: 1px solid black;
    display: flex;
    border-bottom: 1px solid black;
    justify-content:space-between;
    align-items: center;
}
#stock_container{
    margin-left: 20px;
    margin-right: 20px;
}
#stock_container h3{
    color:gray;
    font-size:medium;
}
#rectangle_button_stock{
    background-color:coral;
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h3{
    float: left;
}
.bloc{
    float:right;
}
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    top: 0;
    left: -360px;
    background: brown;
    transition: all 0.5s;   
    width: 320px;
    height: 100vh;
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 {
    display: inline-block;
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    background: #337AB7;
    cursor: pointer; 
    border: 2px solid #BFE2FF;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}

.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: chocolate;    
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color: #FFF;
}


        
    